<!DOCTYPE html>

<html>
<head>
<title>layout test</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript">
	YUI_config = {
		debug : true,
		combine : true,
		comboBase : '/app/combo?',
		root : 'yui.3.12.0/',
		gallery: 'gallery-2013.09.18-18-49'
	};
</script>
<!-- 
<link rel="stylesheet" type="text/css" href="/app/combo?yui.3.12.0/cssreset/cssreset-min.css&yui.3.12.0/cssfonts/cssfonts-min.css&yui.3.12.0/cssbase/cssbase-min.css&gallery-2013.09.18-18-49/build/gallery-aui-skin-classic/css/gallery-aui-skin-classic-min.css&gallery-2013.09.18-18-49/build/gallery-aui-skin-base/css/gallery-aui-skin-base-min.css&{{.flash.dateFlag}}" />
 -->
<link rel="stylesheet" type="text/css" href="/app/combo?yui.3.12.0/cssreset/cssreset-min.css&yui.3.12.0/cssfonts/cssfonts-min.css&yui.3.12.0/cssbase/cssbase-min.css&{{.flash.dateFlag}}" />
<link rel="stylesheet" type="text/css" href="/public/css/global.css?{{.flash.dateFlag}}" />
<style type="text/css">
body {
	font-size: 12px;
}
#pagContC {
    font-size:  12px;
    vertical-align: middle;
    padding:    4px 0;
}

#pagContC img.pgControls {
    width:  auto;
    height: 12px;
    padding: 0 4px 0 4px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

#pagContC img.yui3-pagview-disabled {
    cursor: default;
}
#pagContC .yui3-pagview-input-page {
	width: 30px;
}
</style>
<script src="/public/js/yui.3.12.0/yui/yui-min.js?{{.flash.dateFlag}}" type="text/javascript"></script>
<script type="text/javascript">
	var g_dataBo = {{.result.dataBoJson}};
	var listTemplate = {{.result.listTemplateJson}};
	var DATA_PROVIDER_SIZE = {{.result.pageSize}} || 10;
	var g_gridPanelDict = {};
	// 系统参数
	var sysParam = {
		localCurrency: {
			prefix: "￥",
			decimalPlaces: 3,// 金额小数位数
			unitPriceDecimalPlaces: 4// 单价小数位数
		},
		unitCostDecimalPlaces: 5,// 单位成本小数位数
		percentDecimalPlaces: 1,// 百分比小数位数
		thousandsSeparator: ","
	};
</script>
<script type="text/javascript" src="/app/comboview?js/dataTableExtend.js&js/columnManager.js&js/queryParameter.js&Component/listTemplate.js&{{.flash.dateFlag}}"></script>
</head>

<body class="yui3-skin-sam">
	<div class="content">
		<div id="queryParameters" class="queryDiv">
			<div class="queryTitle">查询参数</div>
			<form action="/component/listtemplate" method="post" name="queryForm" id="queryForm">
				{{range $index, $item := .result.hiddenParameterLi}}
					<input type="hidden" name="{{$item.Name}}" value="{{$item.Value}}" />
				{{end}}
				<div id="queryContent" class="queryContent">
					<table class="queryMain" cellspacing="0" cellpadding="0" border="0">
					{{$parameterLen := len .result.showParameterLi}}
					{{range $index, $queryParameter := .result.showParameterLi}}
						{{if residue $index 2 0}}
						<tr>
						{{end}}
						<td class="searchTitle">
							{{$queryParameter.Text}}
						</td>
						<td>
							{{if eq $queryParameter.Editor "textfield"}}
							<input class="inputWidth" type="text" id="{{$queryParameter.Name}}" name="{{$queryParameter.Name}}" value="{{$queryParameter.Value}}" />
							{{end}}
							{{if eq $queryParameter.Editor "textarea"}}
							<textarea id="{{$queryParameter.Name}}" name="{{$queryParameter.Name}}">{{$queryParameter.Value}}</textarea>
							{{end}}
							{{if eq $queryParameter.Editor "numberfield"}}
							<input class="inputWidth" type="text" id="{{$queryParameter.Name}}" name="{{$queryParameter.Name}}" value="{{$queryParameter.Value}}" />
							{{end}}
							{{if eq $queryParameter.Editor "datefield"}}
							<input class="inputWidth" type="text" id="{{$queryParameter.Name}}" name="{{$queryParameter.Name}}" value="{{$queryParameter.Value}}" />
							{{end}}
							{{if eq $queryParameter.Editor "combo"}}
								<select name="{{$queryParameter.Name}}" id="{{$queryParameter.Name}}">
									<option value="">请选择</option>
									{{range $dictionaryIndex, $dictionaryItem := $queryParameter.Dictionary.items}}
									<option value="{{$dictionaryItem.code}}">{{$dictionaryItem.name}}</option>
									{{end}}
									
									{{range $treeIndex, $treeItem := $queryParameter.Tree.items}}
									<option value="{{$treeItem.code}}">{{$treeItem.name}}</option>
									{{end}}
								</select>
								{{if $queryParameter.Value}}
								<script type="text/javascript">
									document.getElementById("{{$queryParameter.Name}}").value = "{{$queryParameter.Value}}";
								</script>
								{{end}}
							{{end}}
							{{if eq $queryParameter.Editor "combotree"}}
							<input class="inputWidth" type="text" id="{{$queryParameter.Name}}" name="{{$queryParameter.Name}}" value="{{$queryParameter.Value}}" />
							{{end}}
							{{if eq $queryParameter.Editor "displayfield"}}
							<input class="inputWidth" type="text" id="{{$queryParameter.Name}}" name="{{$queryParameter.Name}}" value="{{$queryParameter.Value}}" />
							{{end}}
							{{if eq $queryParameter.Editor "hidden"}}
							<input class="inputWidth" type="text" id="{{$queryParameter.Name}}" name="{{$queryParameter.Name}}" value="{{$queryParameter.Value}}" />
							{{end}}
							{{if eq $queryParameter.Editor "htmleditor"}}
							<input class="inputWidth" type="text" id="{{$queryParameter.Name}}" name="{{$queryParameter.Name}}" value="{{$queryParameter.Value}}" />
							{{end}}
							{{if eq $queryParameter.Editor "checkbox"}}
								{{range $dictionaryIndex, $dictionaryItem := $queryParameter.Dictionary.items}}
								<input class="inputWidth" type="checkbox" id="{{$queryParameter.Name}}_{{$dictionaryIndex}}" name="{{$queryParameter.Name}}" value="{{$dictionaryItem.code}}" />
								<label for="{{$queryParameter.Name}}_{{$dictionaryIndex}}">{{$dictionaryItem.name}}</label>
								{{end}}
								
								{{range $treeIndex, $treeItem := $queryParameter.Tree.items}}
								<input class="inputWidth" type="checkbox" id="{{$queryParameter.Name}}_{{$treeIndex}}" name="{{$queryParameter.Name}}" value="{{$treeItem.code}}" />
								<label for="{{$queryParameter.Name}}_{{$treeIndex}}">{{$treeItem.name}}</label>
								{{end}}
								{{if $queryParameter.Value}}
								<script type="text/javascript">
									function initCheckbox() {
										var valueLi = "{{$queryParameter.Value}}".split(",");
										var elemLi = document.getElementsByTagName("input");
										for (var i = 0; i < elemLi.length; i++) {
											if (elemLi[i].id.indexOf("{{$queryParameter.Name}}_") > -1) {
												if (elemLi[i].value in valueLi) {
													elemLi[i].checked = true;
												}
											}
										}
									}
									initCheckbox();
								</script>
								{{end}}
							{{end}}
							{{if eq $queryParameter.Editor "checkboxgroup"}}
							<input class="inputWidth" type="text" id="{{$queryParameter.Name}}" name="{{$queryParameter.Name}}" value="{{$queryParameter.Value}}" />
							{{end}}
							{{if eq $queryParameter.Editor "radio"}}
								<input class="inputWidth" type="radio" id="{{$queryParameter.Name}}_A0" name="{{$queryParameter.Name}}" value="" />
								<label for="{{$queryParameter.Name}}_A0">全部</label>
								{{range $dictionaryIndex, $dictionaryItem := $queryParameter.Dictionary.items}}
								<input class="inputWidth" type="radio" id="{{$queryParameter.Name}}_{{$dictionaryIndex}}" name="{{$queryParameter.Name}}" value="{{$dictionaryItem.code}}" />
								<label for="{{$queryParameter.Name}}_{{$dictionaryIndex}}">{{$dictionaryItem.name}}</label>
								{{end}}
								
								{{range $treeIndex, $treeItem := $queryParameter.Tree.items}}
								<input class="inputWidth" type="radio" id="{{$queryParameter.Name}}_{{$treeIndex}}" name="{{$queryParameter.Name}}" value="{{$treeItem.code}}" />
								<label for="{{$queryParameter.Name}}_{{$treeIndex}}">{{$treeItem.name}}</label>
								{{end}}
								{{if $queryParameter.Value}}
								<script type="text/javascript">
									function initRadio() {
										var value = "{{$queryParameter.Value}}";
										var elemLi = document.getElementsByTagName("input");
										for (var i = 0; i < elemLi.length; i++) {
											if (elemLi[i].id.indexOf("{{$queryParameter.Name}}_") > -1) {
												if (elemLi[i].value == value) {
													elemLi[i].checked = true;
												}
											}
										}
									}
									initRadio();
								</script>
								{{end}}
							{{end}}
							{{if eq $queryParameter.Editor "radiogroup"}}
							<input class="inputWidth" type="text" id="{{$queryParameter.Name}}" name="{{$queryParameter.Name}}" value="{{$queryParameter.Value}}" />
							{{end}}
							{{if eq $queryParameter.Editor "trigger"}}
							<input class="inputWidth" type="text" id="{{$queryParameter.Name}}" name="{{$queryParameter.Name}}" value="{{$queryParameter.Value}}" />
							{{end}}
						</td>
						{{if le $parameterLen 2}}
							{{if last $parameterLen $index}}
								<td>
									<input style="display: inline;" class="btnMore" id="btnMore" value="更多条件" type="button" />
									<input style="display: none;" id="btnUp" class="btnUp" value="收回" type="button" />
								</td>
								<td>
									<input type="button" value="查询" id="queryBtn" class="queryBtn" />
									<input type="button" value="重置" class="queryReset" />
								</td>
								</tr>
							{{end}}
						{{else}}
							{{if residue $index 2 1}}
								{{if eq $index 1}}
								<td>
									<input style="display: inline;" class="btnMore" id="btnMore" value="更多条件" type="button" />
									<input style="display: none;" id="btnUp" class="btnUp" value="收回" type="button" />
								</td>
								<td>
									<input type="button" value="查询" id="queryBtn" class="queryBtn" />
									<input type="button" value="重置" class="queryReset" />
								</td>
								{{end}}
								</tr>
							{{else}}
								{{if last $parameterLen $index}}
								</tr>
								{{end}}
							{{end}}
						{{end}}
					{{end}}
					</table>
				</div>
			</form>
		</div>
		<div id="toolbar">
			{{$toolbarBo := .result.toolbarBo}}
			{{range $index,$value := .result.listTemplate.Toolbar.ButtonLi}}
				{{range $subIndex,$subValue := $toolbarBo}}
					{{if eq $index $subIndex}}
						{{if $subValue.isShow}}
							{{if eq $value.Mode "fn"}}
								<input type="button" value="{{$value.Text}}" class="{{$value.IconCls}}" onclick="{{$value.Handler}}()"/>
							{{end}}
							{{if eq $value.Mode "url"}}
								<input type="button" value="{{$value.Text}}" class="{{$value.IconCls}}" onclick="location.href='{{$value.Handler}}'"/>
							{{end}}
							{{if eq $value.Mode "url^"}}
								<input type="button" value="{{$value.Text}}" class="{{$value.IconCls}}" onclick="alert('需要用弹出{{$value.Handler}}')"/>
							{{end}}
						{{end}}
					{{end}}
				{{end}}
			{{end}}
		</div>
		<div id="columnModel_1">
		
		</div>
		<div id="pagContC" class="yui3-pagview-bar"></div>
		<script type="text/x-template" id="tmpl-bar">
			<img src="/public/img/glyphicons_170_step_backward.png?{{.DATE_FLAG}}" class="pgControls {pageLinkClass}" data-pglink="first" title="First Page" border="0" />
			<img src="/public/img/glyphicons_173_backTES.png?{{.DATE_FLAG}}" class="pgControls {pageLinkClass}" data-pglink="prev" title="Prior Page" border="0" />
			{inputPage} of {totalPages}
			<img src="/public/img/glyphicons_173_play.png?{{.DATE_FLAG}}" class="pgControls {pageLinkClass}" data-pglink="next" title="Next Page" border="0" />
			<img src="/public/img/glyphicons_178_step_forward.png?{{.DATE_FLAG}}" class="pgControls {pageLinkClass}" data-pglink="last" title="Last Page" border="0" />
			<span style="float:right;margin-right:50px;">Rows per Page: {selectRowsPerPage}</span>
		</script>
	</div>
	
	<div style="display: none">
		<img src="/public/galleryimages/loading_indicator.gif?{{.DATE_FLAG}}" title="加载中..." border="0" width="16" height="16"/>
	</div>
</body>
</html>
