<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>菜单列表</title>
<link rel="stylesheet" type="text/css" href="/app/combo?yui.3.12.0/cssreset/cssreset-min.css&yui.3.12.0/cssfonts/cssfonts-min.css&yui.3.12.0/cssbase/cssbase-min.css&{{.flash.dateFlag}}" />
<link rel="stylesheet" type="text/css" href="/public/css/global.css?{{.flash.dateFlag}}" />
<script type="text/javascript">
	function openUrl(name, url) {
		if (parent && parent.putTabIfAbsent) {
			parent.putTabIfAbsent(name, url);
			parent.window.s_dialog.destroy();
			parent.window.s_dialog = null;
		} else {
			window.open(url);
		}
	}
</script>
</head>
<body class="yui3-skin-sam">
<table border="0" class="menu-table">
	<tr>
		{{range $index, $item := .result.menuLi}}
		<td valign="top">
			<table border="0" class="menu-table-bd">
				<tr>
					<th>{{$item.name}}</th>
				</tr>
				{{range $subIndex,$subItem := $item.subMenuLi}}
				<tr>
					<td>
						<a href="javascript:void(0)" onclick="openUrl('{{$subItem.name}}','{{$subItem.url}}')">{{$subItem.name}}</a>
					</td>
				</tr>
				{{end}}
			</table>
		</td>
		{{end}}
	</tr>
</table>
</body>
</html>
