		<div id="pagContC" class="yui3-pagview-bar"></div>
		<script type="text/x-template" id="tmpl-bar">
			<img src="/public/img/pagination_first.gif?{{.DATE_FLAG}}" width="16px" height="16px" class="pgControls {pageLinkClass}" data-pglink="first" title="First Page" border="0" />
			<img src="/public/img/pagination_prev.gif?{{.DATE_FLAG}}" class="pgControls {pageLinkClass}" data-pglink="prev" title="Prior Page" border="0" />
			{inputPage} of {totalPages}
			<img src="/public/img/pagination_next.gif?{{.DATE_FLAG}}" class="pgControls {pageLinkClass}" data-pglink="next" title="Next Page" border="0" />
			<img src="/public/img/pagination_last.gif?{{.DATE_FLAG}}" class="pgControls {pageLinkClass}" data-pglink="last" title="Last Page" border="0" />
			<span style="float:right;margin-right:50px;">每页显示: {selectRowsPerPage}&nbsp;共{totalItems}条记录</span>
		</script>
		<!-- 
		<img src="/public/img/glyphicons_170_step_backward.png?{{.DATE_FLAG}}" class="pgControls {pageLinkClass}" data-pglink="first" title="First Page" border="0" />
			<img src="/public/img/glyphicons_173_backTES.png?{{.DATE_FLAG}}" class="pgControls {pageLinkClass}" data-pglink="prev" title="Prior Page" border="0" />
			{inputPage} of {totalPages}
			<img src="/public/img/glyphicons_173_play.png?{{.DATE_FLAG}}" class="pgControls {pageLinkClass}" data-pglink="next" title="Next Page" border="0" />
			<img src="/public/img/glyphicons_178_step_forward.png?{{.DATE_FLAG}}" class="pgControls {pageLinkClass}" data-pglink="last" title="Last Page" border="0" />
			<span style="float:right;margin-right:50px;">每页显示: {selectRowsPerPage}&nbsp;共{totalItems}条记录</span>
		 -->
		
		
		
		